<?xml version="1.0"?>
<config>
    <modules>
        <GoodWorkIn_MandarinBank>
            <version>1.0.0</version>
        </GoodWorkIn_MandarinBank>
    </modules>
    <global>
        <blocks>
            <mandarinbank>
                <class>GoodWorkIn_MandarinBank_Block</class>
            </mandarinbank>
        </blocks>
        <models>
            <mandarinbank>
                <class>GoodWorkIn_MandarinBank_Model</class>
            </mandarinbank>
        </models>
        <resources>
            <mandarinbank_setup>
                <setup>
                    <module>GoodWorkIn_MandarinBank</module>
                </setup>
            </mandarinbank_setup>
            <mandarinbank_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mandarinbank_write>
            <mandarinbank_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mandarinbank_read>
        </resources>
        <helpers>
            <mandarinbank>
                <class>GoodWorkIn_MandarinBank_Helper</class>
            </mandarinbank>
        </helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <GoodWorkIn_MandarinBank>
                    <files>
                        <default>GoodWorkIn_MandarinBank.csv</default>
                    </files>
                </GoodWorkIn_MandarinBank>
            </modules>
        </translate>
        <routers>
            <mandarinbank>
                <use>standard</use>
                <args>
                    <module>GoodWorkIn_MandarinBank</module>
                    <frontName>mandarinbank</frontName>
                </args>
            </mandarinbank>
        </routers>
        <layout>
            <updates>
                <mandarinbank module="GoodWorkIn_MandarinBank">
                    <file>mandarinbank.xml</file>
                </mandarinbank>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <GoodWorkIn_MandarinBank>
                    <files>
                        <default>GoodWorkIn_MandarinBank.csv</default>
                    </files>
                </GoodWorkIn_MandarinBank>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <mandarinbank>
                <active>1</active>
                <model>mandarinbank/mandarinbank</model>
                <order_status>pending</order_status>
                <title>Mandarin Bank</title>
                <allowspecific>0</allowspecific>
                <merchant_id>merchant_id</merchant_id>
                <secret>secret code</secret>
                <group>offline</group>
            </mandarinbank>
        </payment>
    </default>
</config>