<div class="content">
    <form action='https://secure.mandarinpay.com/Pay' method='POST'>
        {{ form }}
        <input type="submit" value="{{ button_confirm }}" id="button-confirm" class="btn btn-primary" data-loading-text="{{ text_loading }}"/>
    </form>
</div>


